.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 10px;
}

.nav-item:last-child {
  margin-left: auto;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-link:hover {
  background-color: #555;
}

.active {
  font-weight: bold;
}
